@import "tailwindcss";

/* 
  theme.tsx adds the theme mode in document classlist, which is used to apply the correct styling below, preventing
  FOUC (Flash of Unstyled Content) 
*/

:root {
  transition: all 1s ease-in-out;
}

html.dark {
  --color-background: #0f0f15;
  --color-text: #ffffff;
  --color-text-secondary: #c0c0c0;
  --color-primary: #007bff;
  --color-primary-focus: #0037ff;
  --color-secondary: #6c757d;
  --color-accent: #dc3545;
  --color-error: #dc3545;

  /* Surface/background variants */
  --color-background-page: #1d1f22;
  --color-background-secondary: #2d2d2d;
  --color-background-tertiary: #3d3d3d;
  --color-background-hover: #272636;
  --color-background-active: #3d3d3d;

  /* Border colors */
  --color-border: #424242;
  --color-border-light: #525252;
  --color-border-dark: #4c4c61;
  --color-border-focus: #007bff;

  /* Shadow effects (inverted for dark mode) */
  --shadow-xs: 0 20px 25px -5px rgba(100 100 255 / 0.15);
  --shadow-sm: 0 20px 25px -5px rgba(100 100 255 / 0.25);
  --shadow-md: 0 0 15px 1px rgba(50 50 100 / 0.25);
  --shadow-lg: 0 20px 25px -5px rgba(100 100 255 / 0.45);
  --shadow-xl: 0 20px 25px -5px rgba(100 100 255 / 0.55);
}

html.light {
  --color-background: #eeeeee;
  --color-text: #000000;
  --color-text-secondary: #303030;
  --color-primary: #007bff;
  --color-primary-focus: #0037ff;
  --color-secondary: #6c757d;
  --color-accent: #dc3545;
  --color-error: #dc3545;

  /* Surface/background variants */
  --color-background-page: #fcfcfc;
  --color-background-secondary: #a8a9da;
  --color-background-tertiary: #b9bcbf;
  --color-background-hover: #edefff;
  --color-background-active: #e7e9ec;

  /* Border colors */
  --color-border: #dee2e6;
  --color-border-light: #edf0f5;
  --color-border-dark: #a0aab6;
  --color-border-focus: #007bff;

  /* Shadow effects (standard for light mode) */
  --shadow-xs: 0 20px 25px -5px rgba(0; 0; 0; 0.06);
  --shadow-sm: 0 20px 25px -5px rgba(0; 0; 0; 0.12);
  --shadow-md: 0 0 15px 1px rgba(179, 179, 243, 0.25);
  --shadow-lg: 0 20px 25px -5px rgba(0; 0; 0; 0.25);
  --shadow-xl: 0 20px 25px -5px rgba(0; 0; 0; 0.32);
}
